<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Monitor</th>
            <th>Actividad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>14/10/2017 09:00</td>
            <td>Aula02</td>
            <td>Miguel Goyena</td>
            <td>Body Pump</td>
        </tr>
        <tr>
            <td>22/5/2020 11:30</td>
            <td>Aula01</td>
            <td>Miguel Goyena</td>
            <td>Pilates</td>
        </tr>
    </tbody>
    
</table>
